<!DOCTYPE html>
<html>
    <%- partial("_partial/head") %>
	
	<% if(page.layout == "gallery") { %>
		<!-- Single Gallery Page -->
		<%- partial("_widget/page-gallery") %>
	<% } else { %>

    <body id="scheme-<%= theme.scheme %>">

    <a href="https://github.com/twogoods"><img style="position: absolute; z-index:80; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
		
        <div class="material-layout  mdl-js-layout has-drawer is-upgraded">
				
			<% if(theme.scheme == "Isolation"){ %>
				<!-- Isolation Header -->
				<%- partial("_partial/isolate_info") %>
			<% } %>
			
            <!-- Main Container -->
            <main class="material-layout__content" id="main">
				
                <!-- Top Anchor -->
                <div id="top"></div>
				
				<% if(theme.scheme == "Paradox"){ %>
                <!-- Hamburger Button -->
                <button class="MD-burger-icon sidebar-toggle">
                    <span class="MD-burger-layer"></span>
                </button>
				<% } %>
				
                <%- body %>
				
				<% if(theme.scheme == "Paradox"){ %>
					<%- partial('_partial/sidebar') %>
				<% } %>
				
				<% if( (theme.scheme == "Paradox") && (is_post() || is_home() || is_archive() || is_category() || (page.totop == true) ) ){ %>
					<!-- Footer Top Button -->
					<%- partial("_partial/footer_top")  %>
				<% } %>
				
				<%- partial("_partial/footer") %>
                
				<%- partial("_partial/import_js") %>
            </main>
        </div>
		
    </body>
		
	<% } %>
</html>
